<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
 
    <title>Without Tumor in Brain</title>
 
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
 
        .card-style {
            background-color: #dcdcdc;
 
        }
 
        .content {
            padding: 15px;
            color: white;
            background-color: rgb(153, 156, 150);
            /* font-size: 1rem; */
        }
 
        @media (max-width: 430px) and (min-width: 200px) {
 
            .contents {
                font-size: 0.6rem;
                color: chartreuse;
            }
 
            .content-h1 {
 
                font-size: 1rem;
            }
        }
 
        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
    </style>
</head>
 
<body>
 
    <div>
        <img src="static\images\brain9.jpg" class="w3-border w3-padding" alt="Kalam Sardar AI PVT LTD"
            style="width:100%">
    </div>
 
    <div class="container my-2">
        <div class="row mb-5">
 
            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
                    <!-- <img src="{{pred_output}}" alt="User Image" class="img-thumbnail"> -->
 
                </span>
            </div>
 
            <div class="col-sm">
 
                <div>
                    <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>
 
           
                <h3 style="line-height: 100%;">The Model Predicts that the patient has no brain tumor on the basis of the Brain MRI Report. The Patient has fully safe, but consult a Doctor(Neurologist)</br> </br> 
                   মডেল ভবিষ্যদ্বাণী করে যে ব্রেন এমআরআই রিপোর্টের ভিত্তিতে রোগীর কোনও মস্তিষ্কের টিউমার নেই। রোগী সম্পূর্ণরূপে নিরাপদ, তবে একজন চিকিত্সকের সাথে পরামর্শ করুন (নিউরোলজিস্ট)</br> </br>
                  

मॉडल भविष्यवाणी करता है कि ब्रेन एमआरआई रिपोर्ट के आधार पर मरीज को ब्रेन ट्यूमर नहीं है। रोगी पूरी तरह से सुरक्षित है, लेकिन डॉक्टर (न्यूरोलॉजिस्ट) से परामर्श लें </br> </br></h3>
                <hr class="w-100 mx-auto ">
            </div>
        </div>
 
        <h1> Some ways you can help maintain brain function</h1>
        <p>Eat Well. A diet rich in omega-3 fatty acids, low in saturated fat, full of the nutrients found in leafy green vegetables, along with whole grains can help keep your brain healthy throughout your life and also maintains some rules and conditions like Get mental stimulation,
Get physical exercise,
Improve your diet,
Improve your blood pressure,
Improve your blood sugar,
Improve your cholesterol,
Consider low-dose aspirin,
Avoid tobacco.</p>
   
        <p>
ভাল খাও. ওমেগা -৩ ফ্যাটি অ্যাসিড সমৃদ্ধ একটি ডায়েট, কম স্যাচুরেটেড ফ্যাট কম, শাকযুক্ত শাকসব্জিতে প্রাপ্ত পুষ্টির সাথে পূর্ণ, পুরো শস্যের সাথে আপনার সারা জীবন আপনার মস্তিষ্ককে সুস্থ রাখতে সহায়তা করে এবং মানসিক উত্তেজনা পান এমন কিছু নিয়ম এবং শর্তও বজায় রাখে,
শারীরিক অনুশীলন পান,
আপনার ডায়েট উন্নত করুন,
আপনার রক্তচাপ উন্নতি,
আপনার রক্তে শর্করার উন্নতি করুন,
আপনার কোলেস্টেরল উন্নত করুন,
কম-ডোজ অ্যাসপিরিন বিবেচনা করুন,
তামাক এড়িয়ে চলুন।</p>
        <p>
अच्छा खाएं। ओमेगा -3 फैटी एसिड से भरपूर आहार, संतृप्त वसा में कम, पत्तेदार हरी सब्जियों में पाए जाने वाले पोषक तत्वों से भरपूर, साबुत अनाज आपके मस्तिष्क को जीवन भर स्वस्थ रखने में मदद कर सकता है और कुछ नियमों और शर्तों को भी बनाए रखता है जैसे मानसिक उत्तेजना प्राप्त करना,
शारीरिक व्यायाम करें,
अपने आहार में सुधार करें,
अपने रक्तचाप में सुधार करें,
अपने रक्त शर्करा में सुधार करें,
अपने कोलेस्ट्रॉल में सुधार करें,
कम खुराक वाली एस्पिरिन पर विचार करें,
तंबाकू से बचें।</p>
       
    </div>
 
    <section>
 
        <div class="container">
            <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                class="text-center my-3 content-h1">
                SOME IMAGES OF HUMAN BRAIN AND SOME GOOD HABITS</h1>
        </div>
 
        <div class="container">
 
            <div class="card-columns">
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="static\images\without_tumor1.jpg" alt="">
                        <h3 class="card-text">Meditate</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="static\images\without_tumor2.jpg" alt="">
                        <h3 class="card-text">Regularly exercise</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px" class="img-fluid" src="static\images\without_tumor3.jpg" alt="">
                        <h3 class="card-text">Write</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="static\images\without_tumor4.jpg" alt="">
                        <h3 class="card-text">Laugh</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="static\images\without_tumor5.jpg" alt="">
                        <h3 class="card-text">healthy diet</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="static\images\without_tumor6.jpg" alt="">
                        <h3 class="card-text">sleep</h3>
                    </div>
                </div>
 
            </div>
 
            <!-- <div class="container-fluid contents"> -->
            <h5 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                class="text-center my-3 contents">
                Email:kalamsardar2001@gmail.com(MOB:-7478748822)</h5>
            <!-- </div> -->
        </div>
 
    </section>
 
</body>
 
</html>